body {
  background-image: url(../images/comic-book-2-01.png);
  height: 100%;
  background-size: cover;
  color: hotpink;
  font-family: 'Fredoka One', cursive;
}

div.jumbotron {
  background-color: black;
}

img {
  width: 100%;
  height: auto;
}

button {
  color: white;
  background-image: linear-gradient(gray, darkgray);
  box-shadow: 5px 5px 2px black;
  margin: 1%;
  border-radius: 8px;
  border-color: black;
  border: 1px;
  padding: 1%;
  text-align: center;
}

label {
  color: black;
  /* text-shadow: 2px 2px black; */
  box-shadow: 5px 5px 2px black;
  margin: 1%;
  background-image: linear-gradient(purple, hotpink);
  border-radius: 8px;
  padding: 1%;
  text-align: center;
}

input {
  border-radius: 8px;
  margin: 1%;
  border-radius: 8px;
  border-color: black;
  box-shadow: 5px 5px 2px black;
  border: 1px;
  padding: 1%;
  width: 75%;
  font-size: 18px;
}

button:hover {
  color: hotpink;
}

.rating-div {
  color: black;
  background-image: linear-gradient(purple, hotpink);
  padding: 1%;
  text-align: center;
}

.gif {
  border-color: black;
  border: solid;
  border-width: .25%;
  margin: 1%;
  margin-top: 1%;
}